.Digit {
    background-color: var(--brgt-color) !important;
    color: var(--fg-color) !important;
    border-radius: 30%;
    border: 2px solid var(--fg-color);
    width: calc(var(--size) - 4px);
    height: calc(var(--size) - 4px);
    font-size: calc(var(--size) * 0.65);
    margin: 0 2px 0 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Inactive_Digit {
    opacity: 0.3;
    border-radius: 30%;
    width: calc(var(--size) - 4px);
    height: calc(var(--size) - 4px);
    margin: 0 2px 0 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Digit:hover {
    color: var(--brgt-color) !important;
    background-color: var(--fg-color) !important;
    cursor: pointer;
}

.Inactive {
    background-color: grey;
}