:root {
    --size: clamp(25px, calc(100vw / 12), 60px);
}

.Cell {
    width: var(--size);
    height: var(--size);
    background-color: var(--thrd-color);
    color: var(--fg-color);
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    /* border: 1px solid var(--bg-color); */
    
}

.Digit {
    text-align: center;
    font-size: calc(var(--size) * 0.2);
}