.Input {
    background: var(--fg-color);
    border: 1px solid var(--bg-color);
    box-sizing: border-box;
    border-radius: 4px;
    color: var(--bg-color);
    /* text-align: center; */
    padding: 10px;
}

option {
    background: var(--fg-color);
    color: var(--bg-color);
}