.Input {
    background: var(--fg-color);
    border: 1px solid var(--bg-color);
    box-sizing: border-box;
    border-radius: 4px;
    color: var(--bg-color);
    text-align: center;
}

option {
    background: var(--fg-color);
    color: var(--bg-color);
}

.Background {
    display: inline-block;
    background-color: var(--thrd-color) !important;
    border-radius: 15px;
}

.Available {
    font-size: 0.6rem;
    color: rgb(202, 253, 125);
}

.Unavailable {
    font-size: 0.6rem;
    color: rgb(253, 128, 128);
}

.form-group {
    margin-bottom: 0 !important;
}
